/*=============== CONTENT =================*/

.container{
    display: flex;
    justify-content: center;
    gap: 30vh;
}

#win_con1{
    border: none;
}

#win_con2{
    border: none;
}

/*=============== TEXT =================*/
h1{
    margin-bottom: -7vh;
}

.texts{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    gap: 30vh;
}