.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    height: 45vh;
    width: 60vh;
    border: solid;
    border-radius: 15px;
}