/*=============== CONTENT =================*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 45vh;
    width: 60vh;
    border: solid;
    border-radius: 15px;
}

ul{
    list-style: none;
}

li{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
}

/*=============== TEXT =================*/

.word{
    background: #E1F1FF;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 18px;
    padding: .5vh .5vh .5vh .5vh;
}/*=============== AVATAR =================*/
.image{
    margin-right: 7vh;
    margin-top: -5vh;
}

img{
    height: 20vh;
    border-radius: 50%;
}